#connect-wallet .connect-wallet-button {
  border-color: #53d258;
  color: #53d258;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 24px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(114, 112, 112, 0.3);
  display: flex;
  align-items: center;
}

#connect-wallet .connect-wallet-button:hover {
  border-color: #53d258;
  color: #53d258;
}

.shortenAddress {
  margin-right: 8px;
}
